/* For small screen */
.row-odd {
  background-color: #dcdcdc;
}
.row-even {
  background-color: #f0f0f0;
}

.custom-text-right {
	text-align: left;
}

@media (min-width: 768px) {
	.custom-text-right {
		text-align: right;
	}
}